.menu {
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.2s;
}

 .active {
    transform: translateX(0);
}



.menuContent {
    width: auto;
    height: 100%;
    background-color: rgb(14, 17, 17) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 260px;
    margin-left: 50px;
    transition: all 0.4s;
}

.menuHeader {
    padding: 2px;
    font-size: 3rem;
    color: white;
    border-bottom: 2px solid orange;
    border-radius: 5px;
}

.link {
   color: white;
    font-size: 2rem;
    padding: 10px;
}