
.mobNav {
    height: 60px;
    width: 100%;
    background: rgb(14, 17, 17);
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;

}

.burgerBtn {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
}



.burgerBtn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background: white;
    height: 2px;
}

.burgerBtn span {
    position: absolute;
    top: 9px;
    width: 20px;
    background: white;
    height: 2px;
}

.burgerBtn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    background: white;
    height: 2px;
}

