.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    margin-top: 5px;
    background: rgb(14, 17, 17);


}

.navbar__links {
    margin-left: auto;
    background: rgb(14, 17, 17);

}

.link {
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14pt;
    color: orange;
    background: rgb(14, 17, 17);
    font-weight: bold;

}

.link:hover {
    padding: 10px 20px 10px 20px;
    background: orange;
    opacity: 90%;
    color: #0e1111;
    border-radius: 10px;
}







