
p {
    font-size: 18pt;
    color: lightgray;
}
.aboutHeader {
    color: white;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 2;
    font-size: 20pt;
    padding: 50px;

}

.aboutText {
    display: flex;
    align-items: center;
    opacity:0;
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;

}

.aboutImg {

    margin-top: 150px;
    border: 2px solid orange;
    border-radius: 50px;
    align-items: center;
    animation: show 3s 1;

}

@keyframes show{

    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }

}

.aboutHeaderMob {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 2;
    font-size: 18pt;
    padding: 30px;
}

.aboutTextMob {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity:0;
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
    z-index: 0;
}

.aboutImgMob {
    display: flex;
    border: 2px solid orange;
    border-radius: 50px;
    animation: show 3s 1;

}