
p {
    font-size: 18pt;
    color: lightgray;
}
.aboutHeader {
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 2;
    font-size: 20pt;
    padding: 15px;
}

.aboutText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutImg {

    margin-top: 150px;
    border: 2px solid orange;
    border-radius: 10px;

}