p {
    font-size: 18pt;
}

.skills {
    color: white;
    line-height: 2;
    margin-top: 10vh;
    padding: 30px;
    justify-content: center;
    text-align: center;
    font-size: 20pt;
    opacity:0;
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards;
}

.skillsLink {
    margin-top: 30px;
    animation: show 3s 1;
}

@keyframes show{

    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }

}
