@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(14, 17, 17);/*rgb(65,74,76);*/
  font-family: 'Mukta', sans-serif;
}

#root {
  display: flex;
  justify-content: center;/*центрирует все элементы на страцах*/
  align-items: center;
  flex-wrap: wrap;/* НЕ ЛОМАЕТ АДАПТАЦИЮ*/
  /*flex-direction: column;  ломает адаптацию*/

}
