@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(14, 17, 17);/*rgb(65,74,76);*/
  font-family: 'Mukta', sans-serif;
}

#root {
  display: flex;
  justify-content: center;/*центрирует все элементы на страцах*/
  align-items: center;
  flex-wrap: wrap;/* НЕ ЛОМАЕТ АДАПТАЦИЮ*/
  /*flex-direction: column;  ломает адаптацию*/
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  background: rgb(14, 17, 17);
}

.navbar__links {
  margin-left: auto;
  background: rgb(14, 17, 17);

}

.link {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14pt;
  color: yellowgreen;
  background: rgb(14, 17, 17)
}

.link:hover {padding: 15px; background: yellowgreen; opacity: 90%; color: #0e1111; border-radius: 10px;}